.whiteBackground {
    background: white;
}

.whiteForeground {
    color: white;
}

p a:link { color: red }
p a:visited { color: maroon }
p a:active { color: fuchsia }

.low-contrast-small-aa {
    font-size: 12px;
    color: #757980;
}

.low-contrast-large-aa {
    font-size: 20px;
    color: #878c8c;
}

.errors-badly-identified .validation-summary {
    padding: 1em;
    border: 3px solid #df3034;
    background: #fae1e1;
}

.errors-badly-identified label {
    display: block;
    margin: 1em 0 1em 0;
}

.errors-badly-identified label input {
    display: block;
}

.error-poor-contrast .validation-summary {
    color: #fff;
}

.error-poor-contrast .has-errors {
    border: 1px solid #fae1e1;
}

