.reflow__constrained-box {
    position: relative;
    overflow: scroll;
}
.reflow__constrained {
    width: 100em;
    position: relative;
}
.reflow__constrained-extra {
    float: right;
    margin-right: -100%;
}