.whiteBackground {
    background: white;
}

.whiteForeground {
    color: white;
}

p a:link { color: red }
p a:visited { color: maroon }
p a:active { color: fuchsia }

.all-caps {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.justify {
    text-align: justify;
}