.error-suggestion__required-format-not-given .error-suggestion__error-message {
    display: block;
    color: #df3034;
    margin: 0 0 0.3em 0;
}

.error-suggestion__error-poor-contrast .error-suggestion__has-errors {
    border: 1px solid #fae1e1;
}