.error-identification__errors-badly-identified .error-identification__validation-summary {
    padding: 1em;
    border: 3px solid #df3034;
    background: #fae1e1;
}

.error-identification__errors-badly-identified label {
    display: block;
    margin: 1em 0 1em 0;
}

.error-identification__errors-badly-identified label input {
    display: block;
}

