/*127*/
.resize {
    font-size: 1.5em;
    line-height: 24px;
    max-height: 64px;
    overflow: hidden;
}

/*128*/
#css-generated-text:after {
    content: 'Pizza';
}

/*131*/
.wont-expand-box {
    overflow: hidden;
    height: 10em;
}

.wont-expand {
    border: 1px solid #BFC1C3;
    padding: 1em;
    position: absolute;
    width: 50%;
    height: 4.2em;
    overflow: hidden;
}