.hidden {
    display: none;
}

/* Hide for both screenreaders and browsers */
.hidden {
    display: none;
    visibility: hidden;
}

/* Lightbox */
.lightbox {
    position: fixed;
    width: 400px;
    top: 20%;
    left: 50%;
    margin-left: -200px;
    background: white;
    border: 3px solid black;
    padding: 10px;
}

.lightbox .close-button {
    float: right;
    color: #000;
    text-decoration: none;
}

.lightbox span.close-button {
    cursor: pointer;
    cursor: hand;
}

/* Wrong focus order */
.focus-order-broken a {
    margin-left: 0.75em;
}
.focus-order-broken .first,
.focus-order-broken .third {
    float: left;
}
.focus-order-broken .second {
    float: right;
}

/*113*/
.no-outline,
.no-outline:focus {
    outline: none;
    background: none;
}

/*115 Concertina */
.concertina dt {
    padding-top: 14px;
    padding-bottom: 12px;
    border-top: 1px solid #bfc1c3;
}
.concertina dt:hover {
    cursor: pointer;
    cursor: hand;
    background: #f8f8f8;
}
.concertina dt:before {
    content: '>';
    font-size: 0.7em;
    margin-left: 1em;
    margin-right: 0.4em;
    position: relative;
    top: -0.25em;
}
.concertina dt.expanded:before {
    content: 'v';
}

/*117*/
.dropdown-nav > ul > li > ul {
    display: none;
}
.dropdown-nav > ul > li:hover > ul {
    display: block;
}

/* 118 Lightbox */
.lightbox {
    position: fixed;
    width: 400px;
    top: 20%;
    left: 50%;
    margin-left: -200px;
    background: white;
    border: 3px solid black;
    padding: 10px;
}
.lightbox .close-button {
    float: right;
    color: #000;
    text-decoration: none;
}
.lightbox span.close-button {
    cursor: pointer;
    cursor: hand;
}

/*119*/
.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #00823b;
    border-bottom: 2px solid #000;
    text-decoration: none;
    cursor: pointer;
}

/*120*/

.tooltips-not-focusable {
    display: block;
    margin-bottom: 1em;
    /* Tooltip arrow */
}

.tooltips-not-focusable .tooltip-icon {
    cursor: pointer;
    cursor: hand;
    background: #6F777B;
    color: #fff;
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    text-align: center;
}

.tooltips-not-focusable .tooltip-icon:hover + .tooltip-information {
    display: block;
}

.tooltips-not-focusable .tooltip-information {
    display: none;
    position: absolute;
    width: 12em;
    background: #6F777B;
    color: white;
    padding: 1em;
    margin-top: -10em;
    margin-left: 6.4em;
}

.tooltips-not-focusable .tooltip-information:after, .tooltips-not-focusable .tooltip-information:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tooltips-not-focusable .tooltip-information:after {
    border-color: rgba(111, 119, 123, 0);
    border-top-color: #6F777B;
    border-width: 10px;
    margin-left: -10px;
}

.tooltips-not-focusable .tooltip-information:before {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #6F777B;
    border-width: 11px;
    margin-left: -11px;
}