.contrast-minimum__whiteBackground {
    background: white;
}

.contrast-minimum__whiteForeground {
    color: white;
}

.contrast-minimum__low-contrast-small-aa {
    font-size: 12px;
    color: #757980;
}

.contrast-minimum__low-contrast-large-aa {
    font-size: 20px;
    color: #878c8c;
}

.contrast-minimum__errors-badly-identified .contrast-minimum__validation-summary {
    padding: 1em;
    border: 3px solid #df3034;
    background: #fae1e1;
}

/*Errors identified with a poor colour contrast*/
.contrast-minimum__errors-badly-identified label {
    display: block;
    margin: 1em 0 1em 0;
}
.contrast-minimum__errors-badly-identified label input {
    display: block;
}
.contrast-minimum__validation-summary {
    color: #ffffff;
}
.contrast-minimum__has-errors {
    border: 1px solid #fae1e1;
}

