.nontextconstrast__no-focus:focus {
    outline: none;
}

.nontextconstrast__constant-dotted-focus {
    outline: thin dotted black
}

.nontextconstrast__constant-medium-focus {
    border: medium solid black
}