.visual-presentation__whiteBackground {
    background: white;
}

.visual-presentation__whiteForeground {
    color: white;
}

.visual-presentation__all-caps {
    text-transform: uppercase;
}

.visual-presentation__italic {
    font-style: italic;
}

.visual-presentation__justified-text{
    text-align: justify;
}