/*6 - Keyboard focus is not indicated visually*/
.no-outline,
.no-outline:focus {
    outline: none;
    background: none;
}

/*7*/
.dropdown-nav > ul > li > ul {
    display: none;
}
.dropdown-nav > ul > li:hover > ul {
    display: block;
}

/*8 & 9*/
.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #00823b;
    border-bottom: 2px solid #000;
    text-decoration: none;
    cursor: pointer;
}

/* Lightbox */
.hidden {
    display: none;
}
.lightbox {
    position: fixed;
    width: 400px;
    top: 20%;
    left: 50%;
    margin-left: -200px;
    background: white;
    border: 3px solid black;
    padding: 10px;
}
.lightbox .close-button {
    float: right;
    color: #000;
    text-decoration: none;
}
.lightbox span.close-button {
    cursor: pointer;
    cursor: hand;
}


/*11 Concertina */
.concertina dt {
    padding-top: 14px;
    padding-bottom: 12px;
    border-top: 1px solid #bfc1c3;
}
.concertina dt:hover {
    cursor: pointer;
    cursor: hand;
    background: #f8f8f8;
}
.concertina dt:before {
    content: '>';
    font-size: 0.7em;
    margin-left: 1em;
    margin-right: 0.4em;
    position: relative;
    top: -0.25em;
}
.concertina dt.expanded:before {
    content: 'v';
}