.iar__paragraph-as-heading{
    font-family: Times, serif;
    font-size:200%;
    font-weight:bold;
}

.iar__div-as-heading{
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
}

.iar__yell {
    font-weight:bold;
    text-transform: uppercase;
}

.iar__fact:before { content: "Fact: "; font-weight: bold; }
.iar__opinion:before { content: "Opinion: "; font-weight: bold; }

.not-article-content h2 {
    margin: 0.5em 0;
}

.iar__button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #00823b;
    border-bottom: 2px solid #000;
    text-decoration: none;
    cursor: pointer;
}