.nav__principle{
    background: #EEEEEE;
    color: #255172;
    margin-top: 15px;
    line-height: 1.5;
}

.nav__homepage{
    background: #EEEEEE;
    color: #255172;
    margin-top: 15px;
    line-height: 1.5;
}

.nav__guideline{
    background: #EEEEEE;
    color: #255172;
    margin-top: 5px;
    margin-left: 10px;
    line-height: 1.5;
    display: block;
}

.nav__link{
    background: #EEEEEE;
    color: #255172;
    margin-left: 10px;
    line-height: 1.5;
    display: block;
}

.detail-page{
    background: #EEEEEE;
    color: #255172;
    line-height: 1.5;
}