.contrast-enhanced__whiteBackground {
    background: white;
}

.contrast-enhanced__whiteForeground {
    color: white;
}

.contrast-enhanced__low-contrast-small-aaa {
    font-size: 12px;
    color: #6B7070;
}
.contrast-enhanced__low-contrast-large-aaa {
    font-size: 20px;
    color: #8D9191;
}