.warning-icon {
    background-image: url("../../assets/important.png");
    background-size: 34px 34px;
    background-repeat: no-repeat;
    background-position: 0 4px;
    min-height: 40px;
    padding-left: 40px;
    font-weight: bold;
    width: 30em;
}