/*Color alone is used to convey content*/
.use-of-color__poisonous {
    color: red;
}
.use-of-color__safe {
    color: green;
}

/*F73: Failure of Success Criterion 1.4.1 due to creating links that are not visually evident without color vision*/
.use-of-color__color-alone-link {
    text-decoration: none;
    color: #005ea5;
}

/*Link not clearly identifiable and distinguishable from surrounding text*/
.use-of-color__unobvious-link a{
    text-decoration: none;
    color: #000000;
}

/*Errors identified by colour only*/
.use-of-color__errors-badly-identified .use-of-color__validation-summary {
    padding: 1em;
    border: 3px solid #df3034;
    background: #fae1e1;
}

.use-of-color__errors-badly-identified label {
    display: block;
    margin: 1em 0 1em 0;
}

.use-of-color__errors-badly-identified label input {
    display: block;
}

.use-of-color__errors-colour-only .use-of-color__has-errors {
    background: #fae1e1;
    border: 1px solid #df3034;
}

