.testCase {
    border: 1px solid #000000;
    padding: 0 15px 15px 15px;
    margin-bottom: 5px;
}

.testCase__description {
    border-bottom: 1px dashed #303030;
    margin-bottom: 15px;
}

.description__title-line{
    display: flex;
    justify-content: space-between;
}

.description__title{
    margin: 15px 15px 0 0;
    background: white;
    color: #255172;
}

.description__level{
    margin: 15px 0 0 0;
    background: white;
    color: #255172;
    line-height: 1.5;
}

.testCase__link {
    margin: 15px 0 0 15px;
    line-height: 1.5;
}

.description__explanation{
    color: #255172;
    line-height: 1.5;
}

.description__explanation-link{
    text-align: right;
    line-height: 1.5;

}