.testCase {
    border: 1px solid #000000;
    padding: 0 15px 15px 15px;
    margin-bottom: 5px;
}

.testCase__description {
    border-bottom: 1px dashed #303030;
    margin-bottom: 15px;
}

.description__titleLine{
    display: flex;
    justify-content: space-between;
}

.description__title{
    margin: 15px 15px 0 0;
}

.description__level{
    margin: 15px 0 0 0;
}

.testCase__link {
    margin: 15px 0 0 15px
}

.description__explanationLink{
    text-align: right;
}