/*Keyboard focus is not indicated visually*/
.keyboard__no-outline,
.keyboard__no-outline:focus {
    outline: none;
    background: none;
}

/*Dropdown navigation - only the top level items receive focus*/
.keyboard__dropdown-nav > ul > li > ul {
    display: none;
}
.keyboard__dropdown-nav > ul > li:hover > ul {
    display: block;
}

/*8 & 9*/
.keyboard__button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #00823b;
    border-bottom: 2px solid #000;
    text-decoration: none;
    cursor: pointer;
}
/*Lightbox and Concertina*/
.keyboard__hidden {
    display: none;
}

/*Lightbox - close button doesn't receive focus*/
.lightbox {
    position: fixed;
    width: 400px;
    top: 20%;
    left: 50%;
    margin-left: -200px;
    background: white;
    border: 3px solid black;
    padding: 10px;
}
.lightbox .close-button {
    float: right;
    color: #000;
    text-decoration: none;
}
.lightbox span.close-button {
    cursor: pointer;
}


/*Concertina items don't get keyboard focus*/
.keyboard__concertina dt {
    padding-top: 14px;
    padding-bottom: 12px;
    border-top: 1px solid #bfc1c3;
}
.keyboard__concertina dt:hover {
    cursor: pointer;
    background: #f8f8f8;
}
.keyboard__concertina dt:before {
    content: '>';
    font-size: 0.7em;
    margin-left: 1em;
    margin-right: 0.4em;
    position: relative;
    top: -0.25em;
}
