#banner {
    color:white;
    background-image:url("../../../../../assets/banner.jpeg");
    background-repeat:no-repeat;
    background-color:#003399;
    width:29em;
}

#bannerstyle1 {
    text-transform:uppercase;
    font-weight:bold;
    font-size:2.5em;
}

#bannerstyle2 {
    font-style:italic;
    font-weight:bold;
    letter-spacing:-0.1em;
    font-size:1.5em;
}