.non-text-constrast__no-focus:focus {
    outline: none;
}

.non-text-constrast__constant-dotted-focus {
    outline: thin dotted black
}

.non-text-constrast__constant-medium-focus {
    border: medium solid black
}